torch==1.6.0
transformers==4.0.1
datasets==1.6.2
tqdm==4.49.0
scikit-learn==0.24.2
bokeh==2.4.2
MulticoreTSNE==0.1
pandas==1.2.4
sentencepiece==0.1.95
torchvision==0.7.0
easydict==1.9
matplotlib==3.5.1